@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Mobile-first styling */
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .logo-title {
    text-align: center;
    margin-top: 20px;
  }
  
  .nav-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .hero-content {
    text-align: center;
    padding: 40px;
  }
  
  .learn-more-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .partner-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (min-width: 768px) {
    .header-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
    }
  
    .logo-title {
      text-align: left;
      margin-top: 0;
    }
  
    .nav-button {
      text-align: right;
      margin-top: 0;
    }
  
    .hero-content {
      text-align: left;
      padding: 80px;
    }
  
    .learn-more-container {
      flex-direction: row;
    }
  
    .partner-container {
      flex-direction: row;
    }
  }


/* GENERAL */
body {
    margin: 0;
    background: #FCFEFE;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px,;
}

h3 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #423749;
}

h4 {
    text-align: center;
    color: #51127C;
    font-weight: 700;
}

button {
    width: 184px;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #008C8A;
    border-radius: 50px;
    gap: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #007575; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transform: translateY(-3px) translateZ(0);
  }

/* HEADER */

header {
    background: #51127C;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.small-nav {
    position: absolute;
    font-size: 13px;
    padding-top: 5px;
    padding-right: 100px;
    top: 0;
    right: 0;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    transition: transform 0.3s, text-shadow 0.3s;
}

nav a:hover {
    transform: translateY(-3px) translateZ(0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* HERO SECTION */

.hero {
    background: url('images/heroimg.png') center/cover;
    height: 385px;
    color: #51127C;
    text-align: center;
}

.tagline {
    color: #9C4ED1;
    font-size: 17px;
    font-weight: bold;
}

.hero-content{
    padding-top: 70px;
    padding-left: 100px;
    text-align: left;
}

h1 {
    font-size: 51px;
    padding-bottom: 20px;
    margin: 0;
}

/* LEARN MORE SECTION */

.learn-more {
    text-align: center;
    padding: 50px;
}

.learn-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.learn-more-content-box {
    max-width: 350px;
    text-align: left;
}

/* PARTNERS SECTION */

.community-partners {
    text-align: center;
    padding: 50px;
    background-color: rgba(169, 137, 174, 0.1);
}

.partner-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.partner-card {
    max-width: 324px;
    text-align: left;
}

/* Styling for the Tools */
.tools {
    margin: 60px 60px ; 
  }

  .tools-container {
    width: 1087px;
    height: 507px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    gap: 20px;
    margin-bottom: 90px;
}

.tool-card {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px; 
  }

  .tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-heading-container p {
    margin: 0;
    padding: 0;
  }
  
.tool-heading {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    background-color: #51127C;
    color: #FFFFFF;
    width: 317px;
    height: 73px;
    top: 1859px;
    left: 182px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-image, .symptoms-image, .assessment-image {
    width: 317px;
    height: 350px;
    border-radius: 0 0 0 0;
    object-fit: cover;
}

.tool-learn-container {
    width: 317px;
    height: 46px;
    top: 2274px;
    left: 182px
}

.tool-learn-container p {
    margin: 0;
    padding: 0;
  }

.learn {
    font-weight: 700px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0em;
    color: #FFFFFF;
    width: 317px;
    height: 46px;
    top: 2274px;
    left: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008C8A;
    border: none;
    border-radius: 0px;
    padding: 0 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.learn:hover  {
    background-color: #007575; 
    transform: translateY(-3px) translateZ(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
  

.test-container {
    width: 317px;
    height: 44px;
    top: 2320px;
    left: 182px;
    border-radius: 0px 0px 10px 10px;
}

.test-container p {
    margin: 0;
    padding: 0;
}

.take-quiz, .launch {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    background-color: #51127C;
    color: #FFFFFF;
    width: 317px;
    height: 73px;
    top: 1859px;
    left: 182px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.take-quiz:hover, .launch:hover {
    background-color: #51127C; 
    transform: translateY(-3px) translateZ(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Style for the Blog section */
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    height: 700px;
    padding-top: 50px;
    margin-top: 0;
}

.blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/nurses.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.blog-heading {
    margin-top: 0;
    margin-bottom: 50px;
}

.blog-item {
    width: 486px;
    height: 154px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    position: relative;
    border-radius: 5px;
    background: var(--white, #FCFEFE);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-item:hover {
    transform: translateY(-5px) translateZ(0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center; 
    align-content: center; 
}

.blog-item img {
    width: 160px; 
    height: 154px; 
    flex-shrink: 0; 
}

.blog-text {
    position: absolute;
    top: 20%;
    left: 35%;
    color: #fff;

}

.blog-text p {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #51127C;
    font-family: Montserrat;
}

.blog-text h5 {
    margin: 10px;
    margin-bottom: 0;
    color: var(--black, #212124);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.read {
    font-weight: 700px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008C8A;
    border: none;
    border-radius: 0px;
    padding: 0 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    position: absolute;
    left: 45%;
    top: 90%;
    border-radius: 10px 10px 10px 10px;
}

/* Footer Styling */
.affiliates {
   width: 1366;
   height: 157;
   margin-top: 20px;
   text-align: center;
   background-color: rgba(81, 18, 124, 0.6); 
}

  .affiliates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .affiliates-container img {
    margin: 0 10px; 
    margin-bottom: 50px;
  }

.affiliates p {
    color: #FCFEFE;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.affiliates-container img:hover {
    transform: translateY(-5px) translateZ(0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.footer-elements{
    height: 427px;
    background-color: #51127C;
}







  

  
